<div class="opinion-wrap d-flex">
  <div class="profile-pic"></div>
  <div class="name-opinion-wrap flex-1">
    <div class="author-name"><%= opinion.author.fullname %> </div>
    <div class="opinion"><%= opinion.opinion %></div>
  </div>
</div>
