/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './colors';

body {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
}

.flex-1 {
  flex: 1;
}

.navbar {
  background-color: #1da1f2;
}

.follow-count {
  padding: 0 5px;
  border-top: 1px dotted #676767;
  border-bottom: 1px dotted #676767;

  .cell {
    border-left: 1px dotted #676767;
    padding: 15px 0;

    &:first-child {
      border-left: none;
    }
  }

  .label {
    font-size: 0.7rem;
  }
}

.notice,
.alert {
  padding: 15px;
  text-align: center;
  color: $color-light;

  p {
    margin: 0;
  }
}

.notice {
  background-color: $color-success;
}

.alert {
  background-color: $color-alert;
}

.text-align-center {
  text-align: center;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.aside-links {
  list-style: none;
  margin: 0;
  padding: 20px 0;

  li {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 15px;

    .aside-link {
      color: #fff;
      position: relative;
      display: block;
      text-decoration: none;
      margin-left: 10px;
    }
  }
}

.opinion-form-wrap {
  background-color: $color-light;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;

  input[type="text"] {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #767676;
    padding: 7px 15px;
    border-radius: 3px;
  }
}

.opinions-list {
  padding: 20px;

  .opinions-header {
    margin-bottom: 25px;
  }

  .opinion-wrap {
    padding: 15px 7px;
    border-top: 1px dotted #767676;
  }

  .name-opinion-wrap {
    margin-left: 15px;
  }

  .author-name {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(200, 216, 238);

  &.lg {
    width: 56px;
    height: 56px;
  }

  &.xlg {
    width: 72px;
    height: 72px;
  }

  &.rect {
    border-radius: 10px;
  }
}

.cover-picture-wrap {
  width: 100%;
  height: 120px;
  background-color: #676767;

  img {
    width: 100%;
    height: 100%;
  }
}

.follow-wrap {
  .name-button-wrap {
    color: #14756b;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .follow-btn {
      outline: none;
      border: none;
      color: inherit;
      font-size: 2rem;
      width: 60px;
      text-align: center;
      background-color: transparent;
    }
  }
}

.center {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px;
}

.form-wrap {
  a {
    color: inherit;
    text-decoration: none;
  }

  .field {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &.form-group {
      .form-text {
        outline: none;
        border: none;
        padding: 10px;
        display: block;
        width: 100%;
        background-color: #e7eef0;
      }
    }
  }

  .block-btn {
    display: block;
    text-align: center;
    outline: none;
    border: none;
    width: 100%;
    padding: 12px;

    &.blue {
      background-color: blue;
      color: #fff;
    }
  }

  &.center {
    &.registration {
      width: 600px;
      padding-top: 140px;
      padding-bottom: 40px;
    }
  }
}

.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
