<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag("logos/Ink.png", width: "70px")%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        </ul>
        <form class="d-flex">
        <ul class="navbar-nav  d-flex align-items-center mr-3">
        <li class="nav-item m-1 mr-3 ml-3">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        </li>
        <li class="nav-item m-1 mr-3 ml-3">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </li>
        <li class="nav-item m-1 mr-3 ml-3">
        <i class="fa fa-search" aria-hidden="true"></i>
        </li>
        <li class="nav-item m-1 mr-3 ml-3">
        <i class="fa fa-cog" aria-hidden="true"></i>
        </li>
      </ul>
      </form>
    </div>
  </div>
</nav>